*{
	margin: 0px;
	padding: 0px;

}
*:focus {
    outline: none;
}
/*nav,footer,section{
	display: block;
}*/

body{
	width: 100%;

	/*background: rgba(255,255,255,1);
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );*/
	background: rgba(240,240,240,1);
background: -moz-linear-gradient(-45deg, rgba(240,240,240,1) 0%, rgba(230,230,230,1) 47%, rgba(222,222,222,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(47%, rgba(230,230,230,1)), color-stop(100%, rgba(222,222,222,1)));
background: -webkit-linear-gradient(-45deg, rgba(240,240,240,1) 0%, rgba(230,230,230,1) 47%, rgba(222,222,222,1) 100%);
background: -o-linear-gradient(-45deg, rgba(240,240,240,1) 0%, rgba(230,230,230,1) 47%, rgba(222,222,222,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(240,240,240,1) 0%, rgba(230,230,230,1) 47%, rgba(222,222,222,1) 100%);
background: linear-gradient(135deg, rgba(240,240,240,1) 0%, rgba(230,230,230,1) 47%, rgba(222,222,222,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#dedede', GradientType=1 );
}
nav,footer,section{
	display: block;
}

nav{
	position: fixed;
	top: 1%;
	width: 100%;
}
div{
	position: relative;
	top: 5%
}
.headTitle
{
	padding-left: 8%;
	text-shadow:1px 1px 1px rgba(39,31,31,1);
	font-weight:normal;
	color:#13630A;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-size:254%;
	text-align:left;
	font-family:georgia, serif;
	line-height:1;

	/*-webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);*/


}

.headTitle:hover {
    /*box-shadow: 0px 0px 150px #000000;*/
    padding-left: 8%;
    /*z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);*/
    color:#630a13;
}

/*label, input, button {
    display: block;
}

label, input, button {
    margin-left: 4%;
}*/

.formDiv{
	padding-left: 8%;
	padding-bottom: 2%;
}

/*.form-group{
	padding-left: 2%;
	padding-right: 2%;
}*/

h2{
	padding-bottom: 1%;
	padding-top: 1%;
}

#gapDiv{
	padding-top: 4%;

}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.my-form-group{
	padding-left: 14%;
}

#col-sm-5{
	padding-left: 40%;
}

#backButt{
	
}



